.cart-page {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 1000px) {
        flex-wrap: wrap;
        flex-direction: column;
    }

    &__list {
        flex: 1 0 75%;
        border-radius: 10px;
        box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.2);
        padding: 20px;
    }
    &__header {
        border-radius: 10px;
        box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.2);
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        margin-bottom: 20px;
    }
    &__pagination {
    }
    &__list-products {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__summary {
        border-radius: 10px;
        box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.2);
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        height: 350px;
        .summary__total-money.strikethrough-text {
            text-decoration: line-through;
        }

        input {
            box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.2);
            border: none;
            width: 90%;
            display: block;
            margin: 0 auto;
            height: 30px;
            border-radius: 10px;

            &::placeholder {
                font-size: 1rem;
                text-align: center;
            }
            &:focus {
                background-color: rgb(52, 190, 130);
                border: none;
                &::placeholder {
                    color: black;
                }
            }
        }

        .promo-used {
            display: flex;
            justify-content: space-between;
            .delete-promo {
                cursor: pointer;
                font-size: 1rem;
                font-weight: 600;
                color: rgb(52, 190, 130);
            }
        }
    }
}
.pagination {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    &__current-page {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__items-per-page {
        display: flex;
        align-items: center;
        gap: 3px;
    }
    input {
        width: 40px;
    }
}
.product-cart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.2) inset;
    padding: 20px;
    height: 7rem;
    gap: 7px;
    &__number {
        font-size: 1.5rem;
        font-weight: 600;
        border-radius: 4px;
        text-align: center;
        width: 2%;
    }
    &__img {
        cursor: pointer;
        width: 15%;
        height: 65px;
        border-radius: 10px;

        padding: 3px;
        img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info {
        width: 66%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
    }
    &__controls {
        width: 17%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        gap: 5px;
        .btn-row {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            gap: 5px;
            justify-content: space-between;
        }
    }
}
