.section {
    flex: 1 1 calc(85% - 30px);
}
.products {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 20px;
    justify-items: center;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.2);
}

.product {
    margin: 1rem 0;
    width: calc(33% - 20px);
    min-height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;

    &.four-columns {
        width: calc(25% - 20px);
        @media (max-width: 650px) {
            width: calc(100% - 20px);
        }
    }
    &.three-columns {
        width: calc(33% - 20px);
        @media (max-width: 650px) {
            width: calc(100% - 20px);
        }
    }
    &__image {
        cursor: pointer;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        margin-bottom: 10px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transition: 500ms;

        &:hover {
            opacity: 0.5;
        }
    }
    &__title {
        font-size: 1.5rem;
        text-align: center;
        flex: 0 0 auto;
        padding-bottom: 10px;
    }
    &__price {
        padding: 5px 0 20px 0;
        font-size: 1.5rem;
        text-align: center;
        font-weight: 300;
    }
    &__btn-row {
        flex: 0 0 auto;
        display: flex;
        justify-content: space-around;
        padding-bottom: 10px;
        gap: 5px;
    }
    @media (max-width: 650px) {
        width: calc(100% - 20px);
    }
}
.aside__arrow-right {
    opacity: 0;
    z-index: -1;
    position: fixed;
    left: 1%;
    top: 50%;
    width: 20px;
    animation: arrow-left 1s linear infinite;
    @media (max-width: 1000px) {
        z-index: 1;
        opacity: 1;
    }
}
.aside-sticky-box {
    flex: 0 0 15%;

    @media (max-width: 1000px) {
        display: none;
        position: fixed;
        z-index: 3;
        top: 0px;
        left: 0px;
    }
    @media (max-width: 600px) {
        width: 100vw;
        height: 100%;
    }
    &.active {
        display: block;
    }
}
.aside {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.2);
    gap: 20px;
    position: sticky;
    top: 80px;

    @media (max-width: 1000px) {
        position: fixed;
        top: 0px;
    }
    @media (max-width: 600px) {
        padding: 20px;
    }
    &__close {
        display: none;
        width: 30px;
        img {
            width: 100%;
            height: 100%;
        }
        @media (max-width: 1000px) {
            display: block;
            padding-top: 10px;
        }
    }
    &__filter-list-category,
    &__filter-list-brand {
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.2);
        max-height: 17vh;
        overflow: auto;
        .checkbox-line {
            display: flex;
            justify-content: space-between;
            padding: 3px 10px;
        }
    }
    &__btn-row {
        display: flex;
        padding: 10px 10px 0 10px;
        gap: 5px;
        justify-content: space-around;
        @media (max-width: 1000px) {
            padding: 0px 10px;
        }
    }
    &__title {
        padding: 5px 0;
        font-size: 1.5rem;
        text-align: center;
    }
    &__price {
        padding-bottom: 10px;
    }
    &__stock {
        padding-bottom: 10px;
    }
    &__price-row,
    &__stock-row {
        display: flex;
        justify-content: space-around;
    }

    .multi-range {
        margin: 0 auto;
        position: relative;
        input {
            appearance: none;
            position: absolute;
            outline: none;
            background: linear-gradient(grey, grey) no-repeat center;
            background-size: 100% 2px;
            border-radius: 10%;
            width: 90%;
            pointer-events: none;
            &::-webkit-slider-thumb {
                z-index: 2;
                height: 15px;
                width: 15px;
                border-radius: 15px;
                background-color: rgb(21, 20, 20);
                position: relative;
                margin: 5px 0;
                pointer-events: all;
                cursor: pointer;
                appearance: none;
                &::before {
                    content: " ";
                    display: block;
                    position: absolute;
                    top: 13px;
                    left: 100%;
                    width: 2000px;
                    height: 2px;
                }
            }
        }
    }

    @media (max-width: 1000px) {
        position: relative;
    }
}
.sort-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 40px;
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.2);
    gap: 10px;
    margin: 10px;
    &__view-options {
        display: flex;
        gap: 5px;
        margin: 5px;
        .btn__three-columns,
        .btn__four-columns {
            font-size: 0.8rem;
        }
        @media (max-width: 650px) {
            display: none;
        }
    }
    @media (max-width: 750px) {
        justify-content: center;
        font-size: 1.1rem;
    }

    @media (max-width: 650px) {
        font-size: 1rem;
        gap: 10px;
        flex-wrap: wrap;
        padding: 10px 0;
    }
}
@keyframes arrow-left {
    0% {
        left: 1%;
    }
    50% {
        left: 2%;
    }
    100% {
        left: 1%;
    }
}
.products-not-found {
    margin: 0 auto;
    font-size: 1.3rem;
    font-weight: 600;
}
