@import "./components/product-list-page/plp.scss";
.header {
   height: 70px;
   border: 1px solid rgb(88, 0, 88);
}

.footer {
   height: 100px;
   border: 1px solid rgb(0, 88, 13);
}

.main {
   display: flex;
}

.aside {
   width: 300px;
   border: 1px solid blue;
}

.sort {
   height: 30px;
   border: 1px solid yellow;
}
