@import "./components/product-list-page/plp.scss";
@import "./components/error/error.scss";
.container {
   max-width: 1600px;
   margin: 0 auto;
}
.header {
   height: 70px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   border: 1px solid rgb(88, 0, 88);
}

.footer {
   height: 100px;
   border: 1px solid rgb(0, 88, 13);
}

.main {
   display: flex;
}

.aside {
   width: 300px;
   border: 1px solid blue;
}

.sort-bar {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 30px;
   border: 1px solid yellow;
   &__view-options {
      display: flex;
      gap: 10px;
   }
}
